@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<p>Authorize view below:</p>
<AuthorizeView>
    <Authorized>You are authorized.</Authorized>
    <NotAuthorized>You are not authorized.</NotAuthorized>
</AuthorizeView>
